@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

.card {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: func.em(40, var.$font-size-primary) 0
		func.em(60, var.$font-size-primary);
	overflow: hidden;
}

.card-image .image {
	background-color: var.$color-soft-violet;
}

.card-image .image img {
	object-fit: cover;
	object-position: top;
	mix-blend-mode: multiply;
	opacity: 0.75;
}

.card-content {
	text-align: center;
}

.list,
.list-item {
	display: flex;
	flex-direction: column;
}

.list {
	gap: func.em(30, var.$font-size-primary);
}

.list-item {
	gap: func.em(2, 12);
	font-size: func.em(12, var.$font-size-primary);
	text-transform: uppercase;
}

.list-item .num {
	font-size: func.em(20, 12);
	font-weight: var.$font-weight-700;
	color: var.$color-white;
}

.list-item .label {
	font-size: inherit;
	font-weight: var.$font-weight-400;
	color: inherit;
	letter-spacing: func.em(1, var.$font-size-primary);
}

@media (min-width: 65em) {
	.card {
		flex-direction: row-reverse;
	}

	.card-image,
	.card-content {
		display: flex;
		flex-direction: column;
		flex: none;
		width: 50%;
	}

	.card-content {
		text-align: left;
	}

	.card-image .image {
		flex: auto;
		height: auto;
		padding-top: 0;
	}

	.list {
		flex-direction: row;
	}

	.list-item {
		min-width: func.em(112, 12);
	}
}
