@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

body {
	position: relative;
	@include mix.flexbox;
	-webkit-font-smoothing: antialiased;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

.link {
	color: var.$color-white-light;
}

.link:hover {
	color: var.$color-white-light;
}
